:root {
    --sidebar-width: 200px;
    --footer-height: 25px;
    --header-height: 60px;
    --body-font-size: 20px;
}

.header {
    width: 100%;
    height: var(--header-height);
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    color: #1a1b3a;
    background-image: linear-gradient(white, #E5F6F6);
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
    z-index: 2;
}

.sidebar-left {
    width: var(--sidebar-width);
    height: calc(100% - var(--footer-height) - var(--header-height));
    background-image: linear-gradient(#E5F6F6, #D0F0F0);
    top: var(--header-height);
    left: 0;
    position: fixed;
    z-index: 3;
}

.sidebar-left a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #1a1b3a;
    display: block;
}

.sidebar-left a:hover {
    color: #3b3d80;
}

#content {
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--footer-height));
    margin-left: var(--sidebar-width);
    top: var(--header-height);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 18px;
}

form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#title {
    font-family: 'Berkshire Swash', cursive;
    color: #1a1b3a;
    position: center;
    z-index: 1;
}

#footer {
    height: var(--footer-height);
    width: 100%;
    position: fixed;
    top: calc(100% - var(--footer-height));
    background-color: #1a1b3a;
    color: #d0f0f0;
    font-size: 12px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99;
}

#background {
    background-image: linear-gradient(#E4F5F5, #D0F0F0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    position: fixed;
    z-index: 0;
}