{% extends "wrecks/template.html" %}
{% block title %}
    <title>Ship List</title>
{% endblock %}

{% block styles %}
    <style>
        #content {
            background: transparent;
            position: relative;
            z-index: 1;
        }

        #content b {
            font-family: "Berkshire Swash", cursive;
            font-size: 22px;
        }

        /* Always set the map height explicitly to define the size of the div element that contains the map. */
        #table {
            height: 100%;
            width: 75%;
            margin-left: 5px;
            margin-top: 12px;
        }
    </style>
{% endblock %}

{% block content %}
    <center>
        <table id="table" class="table table-hover table-sm">
            <thead>
            <tr>
                <th><b>Ship Name</b></th>
                <th><b>Ship Number</b></th>
                <th><b>Year Sunk</b></th>
            </tr>
            </thead>
        </table>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.9.2.js">

    </script>
    </center>
{% endblock %}


{% block scripts %}
    <script>
        var ships = [];
        var table = document.getElementById("table");

        function list(ship) {
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var url_name = ship["name"].replace(/ /g, "_");
            var url_num = ship["num"].replace(/ /g, "_");
            //TODO: This way of adding links feels janky, find a cleaner way to do it. maybe a wrapper function or something
            cell1.innerHTML = "<a href=\"/ships/" + url_name + "/" + url_num + "/\">" + ship["name"] + "</a>";
            cell2.innerHTML = "<a href=\"/ships/" + url_name + "/" + url_num + "/\">" + ship["num"] + "</a>";
            cell3.innerHTML = "<a href=\"/ships/" + url_name + "/" + url_num + "/\">" + ship["year"] + "</a>";
        }

        function init() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    ships = JSON.parse(this.responseText);
                    ships.forEach(list);
                }
            };
            xmlhttp.open("GET", "/wrecks/allShips.json", true);
            xmlhttp.send();
        }

        function funct(keyword) {
            var table = document.getElementById("table");
            var tr = table.getElementsByTagName("tr");

            console.log(tr.length);
            console.log(keyword);
            // Loop through all table rows, and hide those who don't match the search query
            for (var i = 0; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[0];
                var txtValue;
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    txtValue = txtValue.toUpperCase();
                    if (txtValue.indexOf(keyword) > -1) {
                        tr[i].style.display = "";
                        if (txtValue.localeCompare(keyword) === 0) {
                            return txtValue;
                        }
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
            return "No match";
        }

        init();

        function test() {
            var key;
            QUnit.test( "Search Test", function( assert ) {
                assert.expect(3);
                key = "ZILLAH";
                assert.deepEqual(funct(key), "ZILLAH");

                key = "EDMUND FITZGERALD";
                assert.deepEqual(funct(key), "EDMUND FITZGERALD");

                key = "EDMUND";
                assert.deepEqual(funct(key), "No match");
            });
        }


    </script>

{% endblock %}