{% extends "wrecks/template.html" %}
{% block title %}
    <title>References</title>
{% endblock %}

{% block styles %}
    <style>
        #content {
            background: transparent;
            position: relative;
            z-index: 1;
        }
    </style>
{% endblock %}

{% block content %}
        {% if references.exists %}
            <p>References:
            <ul>
                {% for url in references %}
                    <li><cite><a href="{{ reference.url }}">{{ reference.text }}</a></cite></li>
                {% endfor %}
            </ul>
            </p>
        {% endif %}
        <p style="color:transparent">
            Some random text
        </p>
    </main>
{% endblock %}
