{% extends "wrecks/template.html" %}
{% block title %}
    <title>references</title>
{% endblock %}

{% block styles %}
    <style>
        #content {
            background: transparent;
            position: relative;
            z-index: 1;
        }

        #content c {
            font-family: "Berkshire Swash", cursive;
            font-size: 30px;
        }

    </style>
{% endblock %}

{% block noncontent%}
<div id="content"><c>References</c></div>
{% endblock %}

{% block content %}
        {% if refern.exists %}
            <p>
            <ul>
                {% for reference in refern %}
                    <li><cite><a href="{{ reference.url }}">{{ reference.text }}</a></cite></li>
                {% endfor %}
            </ul>
            </p>
        {% endif %}
{% endblock %}



