<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>SuperiorWrecks</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Berkshire+Swash&display=swap" rel="stylesheet">
    {# Universal Styles here #}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.9.2.css">
    {# Page specific styles as part of styles block #}
    {% block styles %}
    {% endblock %}
</head>
<body>

<div id="background">
</div>


<div class="header">
    <h1 class="title">Superior Wrecks</h1>
    <div class="navbar">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">
                        Login
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{# Sidebar #}
<nav class="sidebar-left">
    <ul class="list-unstyled components">
        <li>
            <form class="bd-search d-flex align-items-center">
                <input id="search" type="search" class="form-control ds-input" placeholder="Search for a Wreck"
                       onkeyup="funct(this.value.toUpperCase())">
            </form>
        </li>
        {% if page != "map" %}
            <li>
                <a class="nav-link" href="/">Back to Map</a>
            </li>
        {% endif %}
        {% if page != "ships" %}
            <li>
                <a class="nav-link" href="/ships">List all Wrecks</a>
            </li>
        {% endif %}
        {% if page != "detail" %}
            <li>
                <a class="nav-link" href="#">More Information</a>
            </li>
        {% endif %}
        {% if page != "favorites" and user.is_authenticated %}
            <li>
                <a class="nav-link" href="#">Favorites</a>
            </li>
        {% endif %}
        <li>
            <a class="nav-link" href="#">Other Menu Items</a>
        </li>
        <li>
            <a class="nav-link" href="#">References</a>
        </li>

    </ul>
</nav>

{# Content #}
<div id="content">
    {% block content %}
    {% endblock content %}
</div>

{% block noncontent %}
{% endblock %}

{# Footer #}
<div id="footer">
    <span style="float: left;">Created by Katie Schmidt, Stephanie BoBo, JD Hinojosa, Alexander Martin, Basia Kornoely</span>
    <span style="float: right;">Designed for Michigan Tech's CS3141 Team Software Project: Spring 2020</span>
</div>

{# Scripts #}
{% block scripts %}
    <script>
        function funct(keyword) {
        }
    </script>
{% endblock %}

{# Jquery and bootstrap #}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>

