{% extends "wrecks/template.html" %}
{% block title %}
    <title>Trivia</title>
{% endblock %}

{# I would like to apologize for the horror that is this code #}

{% block styles %}
    <style>
        #content {
            background: transparent;
            position: relative;
            z-index: 1;
        }

        #content b {
            font-family: "Berkshire Swash", cursive;
            font-size: 22px;
        }

        .question{
	        font-weight: 600;
        }

        .answers {
            margin-bottom: 20px;
        }

        #submit{
	        font-family: "Berkshire Swash";
	        font-size: 15px;
	        background-color: #1a1b3a;
	        color: #fff;
	        border: 5px;
	        border-radius: 3px;
	        padding: 2px;
	        cursor: pointer;
	        margin-bottom: 20px;
        }

        #submit:hover{
	        background-color: #3b3d80;
        }
    </style>
{% endblock %}

{# Had to hard code in questions.  Working on a feature to only allow one button press per question. #}

{% block content %}
    <center>
        <div id="quiz"></div>
        <button id="submit">Get Results</button>
        <div id="results"></div>
    </center>
{% endblock %}

{% block scripts %}
    <script>
        var myQuestions = [
	        {
		        question: "What ship has the same name as a video game character?",
		        answers: {
		            a: 'Pacman',
			        b: 'Lady Link',
			        c: 'USS Mario',
                    d: 'S.R. Kirby'
		        },
		            correctAnswer: 'd'
            },
            {
                question: "Which boat was the first to sink in lake Superior?",
                answers: {
			        a: 'Recovery',
			        b: 'Starlight',
			        c: 'York',
                    d: 'Edmund Fitzgerald'
                },
		            correctAnswer: 'a'
            },
            {
		        question: "How many ships are named Roamer that have sunk?",
		        answers: {
		            a: '2 ships',
			        b: '9 ships',
			        c: '1 ships',
                    d: '0 ships'
		        },
		            correctAnswer: 'a'
            },
            {
		        question: "How many ships have sunken in the portage?",
		        answers: {
		            a: '0 ships',
			        b: '5 ships',
			        c: '2 ships',
                    d: '10 ships'
		        },
		            correctAnswer: 'c'
            },
        ];

        function generateQuiz(questions, quizContainer, resultsContainer, submitButton){

	        function showQuestions(questions, quizContainer){
		        var output = [];
	            var answers;

	            for(var i=0; i<questions.length; i++){
		            answers = [];
		            for(letter in questions[i].answers){
			            answers.push(
				            '<label>'
					        + '<input type="radio" name="question'+i+'" value="'+letter+'">'
					        + letter + ': '
					        + questions[i].answers[letter]
				            + '</label>     '
			            );
		            }
		            output.push(
			            '<div class="question">' + questions[i].question + '</div>'
                        + '<div class="answers">' + answers.join('') + '</div>'
		            );
	            }

	            quizContainer.innerHTML = output.join('');
	        }

	        function showResults(questions, quizContainer, resultsContainer){
                var answerContainers = quizContainer.querySelectorAll('.answers');
	            var userAnswer = '';
	            var numCorrect = 0;

	            for(var i=0; i<questions.length; i++){
		            userAnswer = (answerContainers[i].querySelector('input[name=question'+i+']:checked')||{}).value;
		            if(userAnswer===questions[i].correctAnswer){
			            numCorrect++;
			            answerContainers[i].style.color = 'lightgreen';
		            }
		            else{
			            answerContainers[i].style.color = 'red';
		            }
	        }

	// show number of correct answers out of total
	resultsContainer.innerHTML = numCorrect + ' out of ' + questions.length;
	}

	        showQuestions(questions, quizContainer);

	        submitButton.onclick = function(){
		        showResults(questions, quizContainer, resultsContainer);
	        }
        }

        var quizContainer = document.getElementById('quiz');
        var resultsContainer = document.getElementById('results');
        var submitButton = document.getElementById('submit');

        generateQuiz(myQuestions, quizContainer, resultsContainer, submitButton);
    </script>
{% endblock %}