{% extends "wrecks/template.html" %}
{% block title %}
    <title>Trivia</title>
{% endblock %}

{# I would like to apologize for the horror that is this code #}

{% block styles %}
    <style>
        #content {
            background: transparent;
            position: relative;
            z-index: 1;
        }

        #content b {
            font-family: "Berkshire Swash", cursive;
            font-size: 50px;
        }

        .question{
	        font-weight: 600;
            padding-bottom: 20px;
            padding-left: 100px;
        }

        .answers {
            margin-bottom: 40px;
            padding-left: 100px;
        }

        #img{
            padding-right: 100px;
        }



        #submit{
	        font-family: "Berkshire Swash";
	        font-size: 15px;
	        background-color: #1a1b3a;
	        color: #fff;
	        border: 5px;
	        border-radius: 3px;
	        padding: 2px;
	        cursor: pointer;
	        margin-bottom: 20px;
            margin-left: 230px;
        }

        #submit:hover{
	        background-color: #3b3d80;
        }

        #results{
            padding-left: 230px;
            font-family: "Berkshire Swash";
	        font-size: 21px;
        }

        #comment{
            padding-left: 230px;
            font-family: "Berkshire Swash";
	        font-size: 21px;
        }
    </style>
{% endblock %}



{% block content %}
    <p>
        <div id="quiz"></div>
        <button id="submit">See Score</button>
        <div id="results"></div>
        <div id="comment"></div>

    </p>
{% endblock %}

{% block scripts %}
    <script>
        var myQuestions = [
            {
		        ques: "What ship crashed closest to Duluth?",
		        ans: {
		            a: 'Stranger',
			        b: 'Edmund Fitzgerald',
			        c: 'Winslow',
                    d: 'V. Swain'
		        },
		            correctAnswer: 'c'
            },
	        {
		        ques: "What ship has the same name as a video game character?",
		        ans: {
		            a: 'Pacman',
			        b: 'Lady Link',
			        c: 'USS Mario',
                    d: 'S.R. Kirby'
		        },
		            correctAnswer: 'd'
            },
            {
                ques: "Which boat was the first to sink in lake Superior?",
                ans: {
			        a: 'Recovery',
			        b: 'Starlight',
			        c: 'York',
                    d: 'Edmund Fitzgerald'
                },
		            correctAnswer: 'a'
            },
            {
		        ques: "How many ships are named Roamer that have sunk?",
		        ans: {
		            a: '2 ships',
			        b: '9 ships',
			        c: '1 ships',
                    d: '0 ships'
		        },
		            correctAnswer: 'a'
            },
            {
		        ques: "How many ships have sunken in the portage?",
		        ans: {
		            a: '0 ships',
			        b: '5 ships',
			        c: '2 ships',
                    d: '10 ships'
		        },
		            correctAnswer: 'c'
            },
            {
		        ques: "Which ship crashed in the Thunder Bay area?",
		        ans: {
		            a: 'York',
			        b: 'Sarina',
			        c: 'Edmund Fitzgerald',
                    d: 'Varada'
		        },
		            correctAnswer: 'b'
            },
            {
		        ques: "What ship crashed near Houghton?",
		        ans: {
		            a: 'Amboy',
			        b: 'Sagamore',
			        c: 'Roanoke',
                    d: 'Sailor Boy'
		        },
		            correctAnswer: 'd'
            },


        ];

        function generateQuiz(questions, quizCon, resultsCon, submit, comments){

	        function showQuestions(questions, quizCon){
		        var output = [];
	            var answers;

	            for(var i=0; i<questions.length; i++){
		            answers = [];
		            for(letter in questions[i].ans){
			            answers.push(
				            '<label>'
					        + '<input type="radio" name="question'+i+'" value="'+letter+'">'
					        + letter + ': '
					        + questions[i].ans[letter]
				            + '</label>     '
			            );
		            }
		            output.push(
			            '<div class="question">' + questions[i].ques + '</div>'
                        + '<div class="answers">' + answers.join('') + '</div>'
		            );
	            }

	            quizCon.innerHTML = output.join('');
	        }

	        function showResults(questions, quizCon, resultsCon, comments){
                var answerContainers = quizCon.querySelectorAll('.answers');
                var questCon = quizCon.querySelectorAll('.question');
	            var userAnswer = '';
	            var numCorrect = 0;

	            for(var i=0; i<questions.length; i++){
		            userAnswer = (answerContainers[i].querySelector('input[name=question'+i+']:checked')||{}).value;
		            if(userAnswer===questions[i].correctAnswer){
			            numCorrect++;
			            questCon[i].style.color = 'limegreen';

		            }
		            else{
			            questCon[i].style.color = 'red';
		            }
	            }

	            resultsCon.innerHTML = 'Score: ' + numCorrect + '/' + questions.length;

	            if (numCorrect === 6){
	               // comments.innerHTML = 'Wow, you really know your ships!';
                } else if (numCorrect > 3){
	                comments.innerHTML = 'Great job!';
                } else if (numCorrect > 1){
	               comments.innerHTML = 'Nice try!';
                } else{
	                comments.innerHTML = 'Better luck next time!';
                }
	        }

	        showQuestions(questions, quizCon);

	        submit.onclick = function(){
		        showResults(questions, quizCon, resultsCon,comments);

	        }
        }

        var quizCon = document.getElementById('quiz');
        var resultsCon = document.getElementById('results');
        var submit = document.getElementById('submit');
        var comments = document.getElementById('comment');

        var randQuiz = [];

        function randomize(questions){
            var randNum = [];
            var currNum = 0;
            var copyof = questions;
            var max = 6;
            var randArray = [0,0,1,2,3,4,5,6];

            for(i = 0 ; i < 5 ; i++){
                currNum = Math.round(Math.random()*max);
                randQuiz[i] = questions[randArray[currNum]];
                randArray.splice(currNum,1);
                max--;
            }
        }

        randomize(myQuestions);

        generateQuiz(randQuiz, quizCon, resultsCon, submit, comments);
    </script>
{% endblock %}